<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="initial-scale=1, width=device-width, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <link rel="stylesheet" href="#{staticPath}/build/#{env}/#{module:app.css}" media="screen" title="no title" charset="utf-8">
</head>

<body>
    <script src="http://cdn.staticfile.org/jquery/2.1.4/jquery.min.js"></script>
    <script src="#{staticPath}/build/#{env}/#{module:app.js}"></script>

</body>

</html>
